/* login */
.login-bg-color {
  background: linear-gradient(to right top, #ededed, #ededee, #ecedef, #eaedf0, #e8eef1, #e8eff2, #e8f1f3, #e8f2f4, #eaf5f7, #ebf7f9, #edfafc, #effcff) fixed;
}

#login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

#login-container h2 {
  background: linear-gradient(to right top, #3d607d, #3f6687, #406c91, #42739c, #4479a6, #437cac, #427fb2, #4182b8, #3d82bb, #3981bf, #3481c2, #3080c5);
  color: #fff;
  font-family: 'Indie Flower', cursive;
  height: 100px;
}

#login-container div.card {
  padding-bottom: 3rem !important;
  background: rgba(255,255,255,.9);
}

/* register */
#create-container {
  max-width: 1000px;
}

@media (max-width: 500px) {
  #create-container .card {
    padding: 0 !important;
}}

/* profile */
#profile-container {
  max-width: 1000px;
}

.profile-edit-btn {
  min-width: 148px;
}

[data-value='btn1'] {
  display: none;
}

[data-value="btn2"] {
  display: block;
}

@media (min-width: 992px) {
  [data-value='btn1'] {
    display: flex;
    align-items: flex-end;
  }

  [data-value="btn2"] {
    display: none;
  }

  #profile-container .card {
    padding: 24px !important;
  }
}

/* albums */
.table-borderless td, .table-borderless th {
  border: 0;
}

#albums-container button[name="sortsubmit"] {
  margin-top: 36px;
  box-shadow: none;
}

#albums-container div.sort-filter {
  margin-bottom: 30px;
}

#albums-container div.card {
  margin-bottom: 30px;
}

.cart {
  width: 100%;
  z-index: 3;
  position: fixed;
  top: 0%;
  background: rgba(61, 96, 125, .95);
  color: #fff;
}

@media (min-width: 576px) {
  .cart {
    width: 225px;
    z-index: 3;
    position: fixed;
    right: 3%;
    top: 10%;
    background: rgba(200, 200, 200, .7);
    border: 1px solid #888 !important;
    color: #222;
}}

#albums-container div.album-card {
  position: relative;
  min-height: 366px;
}

#albums-container div.album-card a {
  position: absolute;
  bottom: 10%;
  right: 12%;
}

#albums-container button[name="sortsubmit"] {
  min-width: 80px;
}

@media (min-width: 992px) {
  #albums-container {
    max-width: 1000px;
}}

/* order */
#order-container thead tr th:first-child {
  padding-left: 28px
}

#order-container tbody tr select {
  min-width: 50px;
}

#summary th {
  border-top: none;
}

#lineItemTotal::before, #subtotal::before, #tax::before, #finalTotal::before {
  content: '$';
}

@media (max-width: 500px) {
  #order-container {
    padding: 0 6px;
  }

  #order-container .card {
    padding: 4px !important;
  }

  #order-container tbody {
    font-size: 14px;
}}

/* payment */
form[name="payment"] {
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
  margin: 0 -15px;
}

.payment-order-summary {
  padding-top: 36px;
  margin: 0 0 40px 0;
}

#clear-header {
  position: relative;
}

#clear-header button {
  position: absolute;
  right: 3%;
  top: 25%;
  box-shadow: none;
}

#pay-btn a {
  min-width: 124px;
}

/* order complete */
#paycomplete-container div.row div:first-child {
  text-align: center;
}

#paycomplete-container .card {
  margin: 15px 0;
}

#paycomplete-container .card-body {
  padding: 20px;
}

#paycomplete-container i.fa-check-circle {
  margin: 20px;
}

#paycomplete-container hr {
  width: 90%;
  margin: 1rem auto;
}

#paycomplete-container ul {
  display: flex;
}

#paycomplete-container ul li {
  width: 50%;

}

.limegreen {
  color: limegreen;
}

/* history */
#history-container div.card {
  min-height: 50vh;
}

#history-table {
  margin-bottom: 0;
}

#history-table th:first-child {
  padding-left: 1.5rem; /* 1.5 to match td bootstrap default */
}

/* discussion */
@media (min-width: 576px) and (max-width: 991px) {
  #discussion-container {
    max-width: 95%;
}}

#discussion-container  div.comment-post {
  background-color: #f8f9fa;
}

@media (max-width: 767px) {
  #create-btn-div {
    justify-content: start !important;
  }

  #new-post-form form {
    padding: 0;
}}

/* contact */
@media (min-width: 500px) {
  #contact-container div.row div.card {
    padding: 24px !important;
}}

/* msg */
.frown-font-awesome::after {
  content: "\f119";
  font-family: "Font Awesome 5 Free";
}

.happy-font-awesome::after {
  content: "\f118";
  font-family: "Font Awesome 5 Free";
}