<?php
  $url = $_SERVER['REQUEST_URI'];
  function navCheck($url, $navpage) {
    $array = explode('/', $url);
    $urlPage = $array[(count($array) - 1)];
    return $urlPage == $navpage ? 'navlink-active' : '';
}?>

<nav class="navbar navbar-expand-lg navbar-light bg-light box-shadow">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <div class="collapse navbar-collapse" id="navbarToggler">
    <div class="navbar-nav">
      <a class="nav-item nav-link <?= navCheck($url, 'profile.php') ?>" href="profile.php">Profile</a>
      <a class="nav-item nav-link <?= navCheck($url, 'albums.php') ?>" href="albums.php">Albums</a>
      <a class="nav-item nav-link <?= navCheck($url, 'order.php') ?>" href="order.php">Order</a>
      <a class="nav-item nav-link <?= navCheck($url, 'payment.php') ?>" href="payment.php">Payment</a>
      <a class="nav-item nav-link <?= navCheck($url, 'history.php') ?>" href="history.php">Order History</a>
      <a class="nav-item nav-link <?= navCheck($url, 'contact.php') ?>" href="contact.php">Contact Us</a>
      <a class="nav-item nav-link" href="private/logout.php">Logout</a>
    </div>
  </div> -->

  <div class="collapse navbar-collapse" id="navbarToggler">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="profile.php">Profile</a>
      <a class="nav-item nav-link" href="albums.php">Albums</a>
      <a class="nav-item nav-link" href="order.php">Order</a>
      <a class="nav-item nav-link" href="payment.php">Payment</a>
      <a class="nav-item nav-link" href="history.php">Order History</a>
      <a class="nav-item nav-link" href="contact.php">Contact Us</a>
      <a class="nav-item nav-link" href="private/util/logout.php">Logout</a>
    </div>
  </div>
</nav>
